.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  height: 100vh;
}

img {
  width: 550px;
  height: 400px;
  object-fit: cover;
}

h1 {
  color: rgb(73, 37, 62);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
  margin: 10px;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: none;
  border: 1px solid black;
  text-align: center;
}

form {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 80px;
  height: 40px;
  background-color: rgb(242, 78, 103);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(246, 130, 147);
}

.result {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
}

.results {
  width: min-content;
  border: none;
  position: absolute;
  margin-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  margin: 30px;
}

.pic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: 30px;
}

.error {
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 30px;
}


@media (min-width: 375px) and (max-width: 667px) {
  img {
    width: 370px;
    height: 300px;
  }

  h1 {
    margin: 30px;
  }

  input {
    margin: 5px;
    margin-left: 15px;
  }

  .button {
    margin: 30px;
  }

  .pic {
    height: 250px;
    width: 250px;
  }

  p {
    margin: 10px;
    padding: 10px;
  }

  .results {
    margin-top: 50px;
    height: 120vh;
  }

  .result {
    margin-top: 20px;
  }
}

@media (min-width: 414px) and (max-width: 896px) {
  img {
    margin-top: 30px;
  }

  h1 {
    margin: 50px;
  }

  input {
    margin: 8px;
    margin-left: 35px;
    font-size: medium;
  }

  h2 {
    font-size: 40px;
  }

  .button {
    margin: 40px;
    font-size: larger;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  .results {
    margin-top: -5px;
    height: 100vh;
  }

}

@media (min-width: 390px) and (max-width: 844px) {
  img {
    margin-top: 20px;
  }

  h1 {
    margin: 30px;
  }

  input {
    margin: 8px;
    margin-left: 30px;
  }

  .button {
    margin: 40px;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  .results {
    margin-top: 0px;
    height: 100vh;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  img {
    width: 350px;
    height: 270px;
  }

  h1 {
    margin: 20px;
  }

  input {
    margin: 8px;
    margin-left: 15px;
  }

  .button {
    margin: 40px;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  .pic {
    height: 270px;
    width: 270px;
  }

  .results {
    margin-top: 0px;
    height: 100vh;
    width: 45vh;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  h1 {
    margin: 30px;
  }

  input {
    margin: 8px;
    margin-left: 40px;
  }

  .pic {
    height: 280px;
    width: 280px;
  }

  .results {
    margin-top: -10px;
    height: 100vh;
    width: 40vh;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  img {
    width: 600px;
    height: 500px;
  }

  h1 {
    font-size: 50px;
  }

  input {
    height: 45px;
    width: 320px;
  }

  .button {
    height: 55px;
    width: 160px;
  }

  p {
    font-size: 25px;
  }

  .pic {
    height: 400px;
    width: 400px;
  }

  .results {
    margin-top: 10px;
    height: 100vh;
    width: 45vh;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  img {
    width: 500px;
    height: 400px;
  }

  h1 {
    font-size: 50px;
  }

  input {
    height: 45px;
    width: 300px;
  }

  .button {
    height: 55px;
    width: 160px;
  }

  p {
    font-size: 25px;
  }

  .pic {
    height: 400px;
    width: 400px;
  }

  .results {
    margin-top: 10px;
    height: 100vh;
    width: 55vh;
  }
}

@media (min-width: 912px) and (max-width: 1368px) {
  img {
    width: 800px;
    height: 600px;
  }

  h1 {
    font-size: 60px;
  }

  input {
    height: 50px;
    width: 350px;
  }

  .button {
    height: 60px;
    width: 200px;
    font-size: 25px;
  }

  h2 {
    font-size: 45px;
  }

  p {
    font-size: 30px;
  }

  .pic {
    height: 600px;
    width: 500px;
  }

  .results {
    margin-top: 10px;
    height: 100vh;
    width: 55vh;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  img {
    width: 400px;
    height: 300px;
  }

  h1 {
    font-size: 30px;
  }

  input {
    height: 40px;
    width: 220px;
    font-size: 10px;
    margin-left: 10px;
  }

  .button {
    height: 50px;
    width: 150px;
    font-size: 15px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  .pic {
    height: 370px;
    width: 370px;
  }

  .results {
    margin-top: 5px;
    height: 100vh;
    width: 57vh;
  }
}

@media (min-width: 280px) and (max-width: 653px) {
  img {
    width: 250px;
    height: 200px;
  }

  h1 {
    font-size: 25px;
  }

  input {
    height: 40px;
    width: 220px;
    font-size: 10px;
    margin-left: 10px;
  }

  .button {
    height: 50px;
    width: 150px;
    font-size: 15px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .pic {
    height: 260px;
    width: 260px;
  }

  .results {
    margin-top: 5px;
    height: 100vh;
    width: 52vh;
  }


}

@media (min-width: 412px) and (max-width: 914px) {
  img {
    width: 400px;
    height: 320px;
  }

  h1 {
    font-size: 30px;
  }

  input {
    height: 40px;
    width: 290px;
    font-size: 10px;
    margin-left: 40px;
  }

  .button {
    height: 60px;
    width: 150px;
    font-size: 15px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .pic {
    height: 280px;
    width: 280px;
  }

  .results {
    margin-top: 5px;
    height: 100vh;
    width: 43vh;
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
  img {
    width: 500px;
    height: 350px;
  }

  h1 {
    font-size: 35px;
  }

  input {
    height: 40px;
    width: 290px;
    font-size: 10px;
    margin-left: 40px;
  }

  .button {
    height: 60px;
    width: 150px;
    font-size: 15px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .pic {
    height: 350px;
    width: 350px;
  }

  .results {
    margin-top: 5px;
    height: 100vh;
    width: 100vh;
  }

}

@media (min-width: 800px) and (max-width: 1280px) {
  img {
    width: 700px;
    height: 450px;
  }

  h1 {
    font-size: 55px;
  }

  input {
    height: 45px;
    width: 320px;
    font-size: 15px;
    margin-left: 40px;
  }

  .button {
    height: 60px;
    width: 150px;
    font-size: 18px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 25px;
  }

  .pic {
    height: 400px;
    width: 400px;
  }

  .results {
    margin-top: 5px;
    height: 100vh;
    width: 50vh;
  }
}

@media (min-width: 384px) and (max-width: 640px) {
  img {
    width: 300px;
    height: 250px;
  }

  h1 {
    font-size: 30px;
  }

  input {
    height: 40px;
    width: 250px;
    font-size: 15px;
    margin-left: 40px;
  }

  .button {
    height: 60px;
    width: 150px;
    font-size: 18px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  .pic {
    height: 300px;
    width: 250px;
  }

  .results {
    margin-top: 5px;
    height: 100vh;
    width: 50vh;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  img {
    width: 500px;
    height: 350px;
  }

  h1 {
    font-size: 35px;
  }

  input {
    height: 40px;
    width: 220px;
    font-size: 15px;
    margin-left: 30px;
  }

  .button {
    height: 60px;
    width: 150px;
    font-size: 18px;
  }
}