.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  height: 100vh;
}

img {
  width: 550px;
  height: 400px;
  object-fit: cover;
}

h1 {
  color: rgb(73, 37, 62);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
  margin: 10px;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: none;
  border: 1px solid black;
  text-align: center;
}

form {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 80px;
  height: 40px;
  background-color: rgb(242, 78, 103);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(246, 130, 147);
}

.result {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
}

.results {
  width: min-content;
  border: none;
  position: absolute;
  margin-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  margin: 30px;
}

.pic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: 30px;
}

.error {
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 30px;
}


@media (min-width: 375px) and (max-width: 667px) {
  img {
    width: 370px;
    height: 300px;
  }

  h1 {
    margin: 30px;
  }

  input {
    margin: 5px;
    margin-left: 15px;
  }

  .button {
    margin: 30px;
  }

  .pic {
    height: 250px;
    width: 250px;
  }

  p {
    margin: 10px;
    padding: 10px;
  }

  .results {
    margin-top: 50px;
    height: 120vh;
  }

  .result {
    margin-top: 20px;
  }
}

@media (min-width: 414px) and (max-width: 896px) {
  img {
    margin-top: 30px;
  }

  h1 {
    margin: 50px;
  }

  input {
    margin: 8px;
    margin-left: 35px;
  }

  .button {
    margin: 40px;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  .results {
    margin-top: -5px;
    height: 100vh;
  }

}

@media (min-width: 390px) and (max-width: 844px) {
  img {
    margin-top: 20px;
  }

  h1 {
    margin: 30px;
  }

  input {
    margin: 8px;
    margin-left: 30px;
  }

  .button {
    margin: 40px;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  .results {
    margin-top: 0px;
    height: 100vh;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  img {
    width: 350px;
    height: 270px;
  }

  h1 {
    margin: 20px;
  }

  input {
    margin: 8px;
    margin-left: 15px;
  }

  .button {
    margin: 40px;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  .pic {
    height: 270px;
    width: 270px;
  }

  .results {
    margin-top: 0px;
    height: 100vh;
    width: 45vh;
  }
}